body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Bebas Neue', 'Times New Roman', Times, serif;
 
}
.name-div-p
{
  border: none;
}
.nav-cantainer
{
  display: flex;
  flex-direction: column;
}
.upper-part-div
{
  display: flex;
  /* justify-content: space-between; */
  margin-top: 1vw ;
  margin-right: 0.5vw;
  margin-left: 0.5vw; 
  padding-bottom: 1.5vw;
  border-bottom: 3px solid gray;
}
.logo
{
  width: 200px;
  padding-top: 0.7vw;
}
.img-div
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img-div img
{
  width: 150px;
}



.write-div
{
  margin-left: 13.5vmax;
  color: rgb(223, 90, 90);
}
.write-div h1
{
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.write-div span
{
  margin-left: 1vmax;
  color: rgb(223, 90, 90);
}